.App {
  font-family: sans-serif;
  text-align: center;
}

h1,
h2 {
  color: darkgray;
}
.food {
  border-width: 2px;
  float: left;
}
.foodImage {
  float: left;
}
.foodName {
  float: left;
  border-width: 2px;
  padding-left: 10px;
  text-align: left;
  margin: 0px;
}
.recipt {
  border-width: 2px;
  text-align: left;
  margin-left: 5%;
  float: left;
  width: 300px;
}
.text {
  float: left;
}
